<h1>Here is a specific user<h1>

<h2><%= @user.name %></h2>

<% @user.recipes.each do |recipe| %>
    <br>
    <%= link_to  recipe.name, user_recipe_path(@user, recipe)  %>
<p><%= recipe.description %></p>

<% end %>


<%= link_to  "See all recipes Recipes", user_recipes_path(@user)  %>
